<!--<label>Server Name</label>
<input type="text" class="form-control" (input)="onUpdateServerName($event)">-->

<!--
<input type="text" class="form-control" [(ngModel)]="serverName">
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>

<p>{{ serverName }}</p>

<input type="text" class="form-control" [(ngModel)]="inputDefault" (input)="onUpdateUsername($event)">
<button class="btn btn-primary" (click)="onCreateUsername()">Create Username</button>
<p>{{ displayUsername }}</p>

<button class="btn btn-primary" [disabled]="!allowPasswordReset" (click)="onResetUsername()">Reset Username</button>
<p> {{ userName }}</p>


<p *ngIf="serverCreated; else noServer">Server was created, server name is {{ serverName }}
<ng-template #noServer>
	<p>
		No server was created!
	</p>
</ng-template>
</p>

<p>{{ serverCreationStatus }}</p>

<app-server *ngFor="let server of servers"></app-server>
-->


